.main-page {
    background-image: url('../../assets/background-images/bg-main-10.jpg');
    height: 100vh;
    width: 100vw;
    margin-right: 2rem;
    /* border: 1px solid orange; */
}

.carousel-slide {
    /* border: 1px solid brown; */
    height: 78vh;
    width: 72vw;
}

.carousel-activities-and-status-indicator {
    display: flex;
    /* align-items: center; */
    height: 79vh;
    width: 99vw;
    margin-top: 2px;
    /* border: 1px solid red; */
}

.activities-and-status-indicator {
    /* border: 1px solid black; */
    margin-top: 14px;
    height: 78vh;
    width: 27vw;
}