.carousel-slide-section {
    border: 1px solid black;
    scroll-snap-type: x mandatory;
    margin-top: 1rem;
    margin-left: 1rem;
    height: 75vh;
    width: 70vw;
}

.carousel-slide-section img{
    height: 80%;
    width: 50%;
}