.carousel-slide-section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid black; */
    scroll-snap-type: x mandatory;
    margin-top: 2rem;
    margin-left: 1rem;
    height: 75vh;
    width: 70vw;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    /* border: 1px solid black; */
    height: 74vh;
    width: 69.7vw;
    object-fit: cover;  
}

.error-image {
    /* border: 10px solid black; */
    height: 74vh;
    width: 69.7vw;
    object-fit: cover; 
}