body {
    background-image: url('../../assets/grey-shade/grey-shade-1.jpg');
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-free-text {
    margin-top: 3rem;
    text-align: center;
    color: #303030;
    width: 96%;
    margin-left: 12px;
    padding: 15px;
    background-color: #e3e3e3;
    font-size: large;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.login-form {
    padding: 50px;
    margin-left: 4rem;
}
.login-form input[type='text'] {
    background-color: #e1e1e1;
    width: 24rem;
    padding: 1rem;
    margin: 8px 0;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-form input[type='text']:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); 
}
.login-form input[type='text']:focus {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9); 
    outline: none;
}
.login-form button[type='submit'] {
    width: 25%;
    background-color: #e4e4e4;
    color:#404040;
    padding: 10px 0;
    border: none;
    cursor: pointer;
}
.login-form button[type='reset'] {
    width: 25%;
    background-color: #e4e4e4;
    color: 	#404040;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    margin-left: 175px;
}
.login-form button[type='submit']:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
    opacity: 0.8; 
}
.login-form button[type='reset']:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
    opacity: 0.8;
}
.login-form button[type='submit']:active {
    transform: scale(0.95);
}
.login-form button[type='reset']:active {
    transform: scale(0.95);
}
.login-form button:hover {
    opacity: 0.8;
}
.main-logo-and-login-form {
    display: flex;
    margin-top: 2rem;
}
.main-logo img {
    height: 17rem;
    margin-right: 8rem;
    margin-top: 2rem;
}

.catie-version {
    margin-top: 11rem;
    margin-left: 35rem;
}

.input-spacing {
    margin-bottom: 1.5rem;
}

.button-spacing {
    margin-top: 3rem;
}

.login-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    height: 10vh;
    width: 99vw;
}

.logo-footer {
    margin-left: 9rem;
}
.logo-footer img {
    height: 70px;
    width: 120px;
}
.app-version {
    margin-right: 25.5rem;
    font-size: 13px;
}